body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Raleway', sans-serif;
}

header#top {
    background: url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header#top h1 {
    font-size: 8vw;
    margin: 0;
    font-family: 'Bowlby One SC', cursive;
    font-weight: bold;
}

header#top h3 {
    letter-spacing: 4px;
    font-size: 2vw;
    margin: 1px;
}

#header-down-arrow {
    margin-top: 25px;
}

.container-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.bg-purple {
    background-color: #b148ff !important;
    color: #fff !important;
}

@media only screen and (max-width: 600px) {
    header#top h3 {
        font-size: inherit;
    }
}